@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-translateY: -120px;
	--card-left: 40%
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-monoton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(21% 0.034 264.665);
    --foreground: #ededed;
  }
}

@media (min-width: 768px) {
  :root {
    --card-translateY: -160px;
  }
}

@media (min-width: 1024px) {
  :root {
    --card-translateY: -160px;
		--card-left: 45%
  }
}

@media (min-width: 1440) {
  :root {
    --card-translateY: -155px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
